.blog {
    padding-top: 0;
}

.blog1,
.blog2,
.blog3 {
    // border: 2px gray dashed;
    width: 25%;
    padding-top: 25%;
    margin: 10px;
    display: block;
    position: relative;
}

@media only screen and (max-width: 768px) {
    .blog {
        justify-content: space-evenly !important;
    }
    .blog1,
    .blog2,
    .blog3{
        width: 66% !important;
        padding-top: 66% !important;
        margin-bottom: 20%;
    }
    .stuff-thumbnails img {
        width: 140% !important;
    }
}

#small-stuff {
    margin: 30px auto 0 auto;
    text-align: center;
}

.stuff-thumbnails img {
    position: absolute;
    width: 120%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: block;
}

.thumb-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    white-space: nowrap;
    margin: auto auto auto 0;
}