.blog{
    border: 1px black solid;
}

.blog1,
.blog2,
.blog3 {
    border: 2px red dashed;
    width: 25%;
    height: 10%;
    min-height: 100px;
    margin: 10px;
}

#small-stuff {
    margin: 20px auto 0 auto;
    text-align: center;
}