.blog {
    margin: auto;
    // padding-top: 0;
}

.blog1,
.blog2,
.blog3 {
    margin: 10px;
    width: 25%;
    height: 100%;
    padding: 25% 0 0 0;
    position: relative;

    .thumb-img {
        position: absolute;
        width: 120%;
        height: 120%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto;
        display: block;  
    }

    .thumb-text {
        // position: relative;
        text-align: center;
        // left: 50%;
        bottom: -3%;
        // transform: translate(-50%, 0%);
        // white-space: nowrap;
        margin: auto auto auto 0;
    }
}

@media only screen and (max-width: 768px) {
    .blog1,
    .blog2,
    .blog3{
        width: 66% !important;
        height: 66% !important;
        padding-top: 66% !important;
        margin: 0 auto 20% auto;
    }
}

#small-stuff {
    margin: 30px auto 0 auto;
    text-align: center;
}