.projects{
    margin: auto;
}

.dev1,
.dev2 {
    border: 2px gray dashed;
    width: 45%;
    margin: 10px;
    height: 50%;
    min-height: 300px;
}

#work {
    margin: 20px auto 0 auto;
    text-align: center;
}