.header{
    border-bottom: 2px gray solid;
    padding: 3%;
    height: 30px;
    align-items: center;
    background-color: "#fff" !important;
}

.title {
    font-weight: 600 !important;
    text-align: center;
    margin: auto;
    overflow: visible;
}

.logo-img {
    display: block;
    margin: auto;
    min-height: 50px;
    max-height: 65px;
}

@media only screen and (max-width: 768px) {
    .title,
    .logo {
        width: 100% !important;
    }

    .header {
        height: 110px;
    }
}