.header{
    border: 1px black dashed;
    padding: 3%;
    height: 75px;
}

.title {
    font-weight: 600 !important;
    text-align: center;
    margin: auto;
    overflow: visible;
}

.logo-img {
    display: block;
    margin: auto;
    min-height: 50px;
    max-height: 75px;
}

@media only screen and (max-width: 768px) {
    .title,
    .logo {
        width: 100% !important;
    }

    .header {
        height: auto;
    }
}