.header{
    border: 1px black dashed;
    padding: 3%;
}

.title,
.logo,
.menu {
    width: 40%;
    font-weight: 600 !important;
    border: 1px red dashed;
    text-align: center;
    margin: auto;
    overflow: visible;
}

.logo-img {
    min-width: 70px;
    max-width: 100px;
}

@media only screen and (max-width: 768px) {
    .title,
    .logo,
    .menu  {
        width: 100% !important;
    }
}