.about{
    justify-content: center;
}

.landing{
    margin-bottom: 20px;
    display: block;
    position: relative;
    text-align: center;

    img{
        width: 70%;
        min-width: 250px;
        margin: auto;
    }
}

.description{
    text-align: center;
}

.door-img {
    display: block;
    width: 55%;
    min-width: 250px;
    margin: auto;
}

.switch-img {
    display: block;
    position: absolute;
    width: 50px;
    right: 10%;
    top: 40%;
}

@media only screen and (max-width: 768px) {
    .switch-img {
        width: 40px !important;
        right: 1% !important;
    }
}
