.about{
    border: 1px black solid;
    justify-content: center;
    // align-content: center;
}

.interaction{
    border: 2px red dashed;
    margin-bottom: 20px;
}

.description{
    text-align: center;
}