html {
    // font-family: "Source Sans Pro", sans-serif;
    font-family: "Walter Turncoat", sans-serif; 
}

body {
    margin: 0;
    font-weight: 300;
    background-image: url("../assets/imgs/texture.png");
    background-repeat: repeat-y;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5%;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .dev1,
    .dev2, 
    .blog1,
    .blog2,
    .blog3{
        width: 100% !important;
    }
}

a:link {
    color: gray;
    text-decoration: none;
}

a:visited {
    color: gray;
}

a:hover {
    color: #000;
}

a:active {
    color: #000;
}

.row-line {
    margin: auto;
    width: 100%;
    height: 6px;
    position: absolute;
    bottom: 0;
    left: 0;
}
