html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    margin: 0;
    font-weight: 400;
    line-height: 1.6em;
}

.titles {
    font-weight: 600;
    margin: 3.6em auto 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3% 15%;
    position: relative;
    overflow: hidden;
}

a:link {
    color: gray;
    text-decoration: none;
}

a:visited {
    color: gray;
}

a:hover {
    color: #000;
}

a:active {
    color: #000;
}

.dashed-line {
    margin: auto;
    width: 90%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.5;
    filter: alpha(opacity=50);
}