html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    margin: 0;
    font-weight: 300;
}

#app {
    display: flex;
    flex-direction: column;
}

.components{
    padding: 5%;
}

.title {
    font-weight: 600 !important;
}