html {
    font-family: "Source Sans Pro", sans-serif;
}

body {
    margin: 0;
    font-weight: 300;
}

#app {
    display: flex;
    flex-direction: column;
}

.components {
    padding: 5%;
}

.title {
    font-weight: 600 !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .dev1,
    .dev2, 
    .blog1,
    .blog2,
    .blog3 {
        width: 100% !important
    }
}