.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    text-align: center;
    margin: 10px 20px;
    text-decoration: none;
}

@media only screen and (max-width: 768px) {
    .menu-list {
        width: 100%;
        margin: auto !important;
    }
}