.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item {
    text-align: center;
    margin: 10px 20px;
    text-decoration: none;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) and (min-width: 320px) {
    .menu-list {
        width: 100%;
        margin: auto !important;
    }
}

@media only screen and (max-width: 320px) {
    .menu-list {
        font-size: 0.8em;
    }
}
