.work{
    margin: auto;
}

@mixin size($width) {
    width: $width;
    padding-top: $width;
    position: relative;
}

.dev1,
.dev2,
.dev3 {
    // margin: 10px;
    margin: 0 auto;
    width: 29%;
    height: 100%;
    padding: 30% 0 0 0;
    position: relative;
    overflow: hidden;
    border: 2px solid rgb(133, 133, 133);
    // border-radius: 4px;
    :hover .thumb-img {
        -webkit-filter: grayscale(0);
        filter: grayscale(0);
        -webkit-transition: all .5 ease;
        transition: all .5s ease;
    }
    
    :hover .overlay {
        opacity: 0.75;
    }
}

@media only screen and (max-width: 768px) {
    .dev1,
    .dev2,
    .dev3 {
        width: 100% !important;
        height: 100% !important;
        padding: 100% 0 0 0 !important;
        margin: 20px auto;
    }
}

#work {
    text-align: center;
}

.readmore {
    float: right;
    width: 100%;
    margin: 10px;
    display: flex;
    align-content: center;
}

.see-more{
    margin: auto 0 auto auto;
}

.arrow {
    width: 50px;
    height: 50px;
    margin: 0;
}
.thumb-frame,
.thumb-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    display: block;
}

.thumb-img {
    height: 105%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.thumb-frame {
    width: 107%;
    height: 107%;
    z-index: 5;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #fff;

    &-content {
        position: absolute;
        width: 80%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);

        &-title {
            font-weight: bold;
            margin-bottom: 0.1em;
        }

        &-summary {
            font-size: 80%;
            color: rgb(78, 78, 78);
            line-height: 1.2em !important;
            margin-top: 0;
        }

        &-tags {
            font-style: italic;
            font-size: 0.9em;
            line-height: 1.4em !important;
            // color: rgb(78, 78, 78);
        }
    }
}