.projects{
    margin: auto;
}

.dev1,
.dev2 {
    border: 2px gray dashed;
    width: 45%;
    margin: 10px;
    height: 50%;
    min-height: 300px;
}

#work {
    margin: 20px auto 0 auto;
    text-align: center;
}

.readmore {
    float: right;
    width: 100%;
    margin: 10px;
    display: flex;
    align-content: center;
    border: 2px gray dashed;
}

.see-more{
    margin: auto 0 auto auto;
}

.arrow {
    width: 50px;
    height: 50px;
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .dev1,
    .dev2 {
        width: 100% !important;
    }
}