.work{
    margin: auto;
}

@mixin size($width) {
    width: $width;
    padding-top: $width;
    position: relative;
}

.dev1,
.dev2,
.dev3 {
    border: 2px gray dashed;
    margin: 10px;
    width: 29%;
    padding: 30% 0 0 0;
    position: relative;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .dev1,
    .dev2,
    .dev3 {
        width: 100% !important;
        padding: 100% 0 0 0 !important;
    }
}

#work {
    margin: 20px auto 0 auto;
    text-align: center;
}

.readmore {
    float: right;
    width: 100%;
    margin: 10px;
    display: flex;
    align-content: center;
    border: 2px gray dashed;
}

.see-more{
    margin: auto 0 auto auto;
}

.arrow {
    width: 50px;
    height: 50px;
    margin: 0;
}

.thumb-img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 110%;
    margin: auto;
    display: block;
}
